*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
.env
config/database.yml
config/unicorn.rb
config/deploy/*
public/web.config
public/zoo-index.html
web.config
public/assets/*
console/*
GEM_HOME/*
.gem/*