<%= form_tag eventbatch_path do %>
    <p>Ein Datensatz pro Zeile in der Reihenfolge<br>Titel;Begin Datum;Begin Zeit;Ende Datum;Ende;RaumID Zeit;Beschreibung<br>Gottesdienst;1.1.2014;9:00;1.1.2014;10:00;Gottesdienst in Thening;1</p>
    <div class="form-group">
        <%= text_area_tag "batch", nil, rows: 30,  class: "form-control"  %>
    </div>  
    <%= submit_tag "Erstellen", class: "btn btn-primary" %>
<% end %>