<div id="carousel-jumbotron" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <% @banners.each_with_index do |banner,i| %>
            <li data-target="#carousel-jumbotron" data-slide-to="<%= i %>" <% if i==0 %>class="active"<% end %>></li>
        <% end %>
    </ol>
    <div class="carousel-inner">
        <% @banners.each_with_index do |banner,i| %>
            <div class="item <% if i == 0%>active<%end%>">
                <%= image_tag banner.image.url(:large), class: "img-responsive" %>
                <% unless banner.title.blank? %>
                    <div class="carousel-caption">
                        <h3><%= banner.title %></h3>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>