<div class="event-box">
    <h2><%= @event.title %></h2>
    <p class="date"><%= event_duration(@event) %></p>
    <p>
        <%= sanitize @event.description %>
    </p>
    <p class="links">
        <%= link_to t('actions.edit'), edit_event_path(@event) if current_or_null_user.can_update?(@event)%>
    </p>
</div>