<div class="row">
    <div class="col-xs-12">
        <%= link_to "Neue Rolle anlegen", new_role_path, class: "btn btn-default" %> <br> <br>
    </div>
</div>

<div class="row">
<% @users.each do |user| %>
    <% if user.roles.length > 0 %>
        <div class="col-xs-6">
            <div class="well well-sm">
                <h2><%= user.name %></h2>
                <table class="table table-condensed">
                    <% user.roles.each do |role| %>
                    <tr>
                        <td><%= role.name %></td>
                        <td><%= link_to "Rolle löschen", role_path(role, user: user.id), method: :delete, data: { confirm: t('actions.confirm') },class: "btn btn-danger btn-xs pull-right" %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
    <% end %>
<% end %>
</div>