/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fullcalendar
 *= require fonts
 *= require bootstrap-datetimepicker.min
 *= require bootstrap-wysihtml5
 *= require rails_bootstrap_forms
 */

@import "variables";
@import "bootstrap";
@import "events";
@import "jumbotron";
@import "navbar";
@import "footer";
@import "content_elements";
@import "persons";

body {
    padding-top: 30px;
    @include transition(padding-top .2s ease-in-out);
    @media (min-width: $grid-float-breakpoint) {
        padding-top: 124px;
    }
    
    &.scrolling-menu {
        @media (min-width: $grid-float-breakpoint) {
            padding-top: 52px;
            .navbar-default {
                padding: 0 !important;
            }
        }
    }
    
    &.scrolling {
        .navbar-default {
            @include box-shadow(0px 3px 18px 0px rgba(0,0,0,0.75));
        }
        
        .cloud {
            top: -100px !important;
        }
    }
}

#sortable {
  tr.item {
    cursor: row-resize;
  }
}

.table tbody>tr>td.vert-align
{
    vertical-align: middle;
}