@font-face {
    font-family: 'dosis';
    src: font-url('dosis-regular-webfont.eot');
    src: font-url('dosis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dosis-regular-webfont.woff') format('woff'),
         font-url('dosis-regular-webfont.ttf') format('truetype'),
         font-url('dosis-regular-webfont.svg#dosisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dosis';
    src: font-url('dosis-semibold-webfont.eot');
    src: font-url('dosis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dosis-semibold-webfont.woff') format('woff'),
         font-url('dosis-semibold-webfont.ttf') format('truetype'),
         font-url('dosis-semibold-webfont.svg#dosissemibold') format('svg');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'dosis';
    src: font-url('dosis-light-webfont.eot');
    src: font-url('dosis-light-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dosis-light-webfont.woff') format('woff'),
         font-url('dosis-light-webfont.ttf') format('truetype'),
         font-url('dosis-light-webfont.svg#dosislight') format('svg');
    font-weight: 200;
    font-style: 200;

}