@import "variables";

.jumbotron {
    padding-top: 0;
    padding-bottom: 20px;
    .jumbotron-content {
        z-index: 3;
        img {
            
        }
        p, h1 {
            text-align: center;
        }
    }
    
    .cloud {
        position: fixed;
        background: image-url('cloud.svg') top left no-repeat;
        width: 150px;
        height: 45px;
        transition: all 0.8s ease-in-out;
        z-index: 2;
    }
    
    
    .left-cloud {
        left: 2em;
        top: 7em;
    }
    
    .right-cloud {
        right: 2em;
        top: 18em;
        @media (min-width: $screen-sm-min) {
            top: 9em;
        }
    }
    
    .carousel-container {
        position: relative;
        > .overlay {
            > h1 {
                margin-top:0;
            }
            background-color: rgba(white, 0.4);
            text-shadow: 0px 4px 3px rgba(black,0.4),
                         0px 8px 13px rgba(black,0.1),
                         0px 18px 23px rgba(black,0.1);
            width: 100%;
            position: absolute;
            top: 50%;
            margin-top: -77px;
        }
    }
}