<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat die Anleitung zum 채ndern des Passworts angefordert:</p>

<p><%= link_to 'Passwort 채ndern', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Falls du dein Passwort nicht 채ndern willst, ignoriere dieses eMail. Dein Passwort wird erst ge채ndert, wenn du auf den Link klickst</p>
