<p>Hallo <%= @resource.email %>!</p>

<p>Dein Profil wurde gesperrt.</p>

<p>Bitte klicke auf den Link um das Profil wieder zu aktivieren:</p>

<p><%= link_to 'Profil aktivieren', unlock_url(@resource, :unlock_token => @token) %></p>
